* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #1F2326;
  --secondary-color: #2B70E4;

  --text-color-dark: #333;
  --text-color-light: #fff;
  --background-color: #fff;
  --secondary-background-color: #fcfcfc;
  --hover-color-light: #f3f3f3;
  --font-primary: 'Rubik', sans-serif;
  --font-secondary: 'Rubik', sans-serif;
  --font-family--albert-sans: "Albert Sans", sans-serif;
  --base-spacing: 8px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.inactive {
  display: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: var(--text-color-light);
  background-color: var(--secondary-background-color);
  padding-top: 0px;
  display: flex;
  flex-direction: column;
}

/* KONTENERY */
.page {
  min-height: fit-content;
  display: block;
  justify-content: top;
  align-items: top;
  padding-top: 0em;
}



.hero {
  min-height: 100vh;
}

.width-50 {
  width: 50%;
}

.width-30 {
  width: 30%;
}

.width-70 {
  width: 70%;
}

.width-80 {
  width: 80%;
}

.width-20 {
  width: 20%;
}

.display-left {
  text-align: left;
}

.display-center {
  text-align: center;
}

.p-column {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Rubik', sans-serif;
  text-align: justify;
  background-color: transparent;
  margin: 0vh;
  margin-bottom: 3em;
  padding: 0em;
}

.p-contact {
  display: flex;
  flex-direction: row;
  justify-content: left;
  font-family: 'Rubik', sans-serif;
  text-align: justify;
  background-color: transparent;
  margin: 0vh;
  padding: 0em;
  margin-bottom: 2em;

}

.p-copy-mail {
  text-align: center;
  cursor: pointer;
}

.p-contact__p {
  color: #ad4343;
}

.p-column__image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Rubik', sans-serif;
  text-align: justify;
  background-color: transparent;
  margin: 0vh;
  padding: 0em;
  width: 100%;
}

.p-column:hover {
  background-color: var(--hover-color-light);
  border-radius: 1em;
}

.p-column:hover .p-icon {
  color: var(--secondary-color);
}

.p-column1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.p-column1__image {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 35vh;
  width: 100%;
  background-image: url('map_1.png');
  background-size: cover;
  background-position: center;
  position: relative;
  margin: 0;
  margin-top: 5em;
  padding: 0;
  z-index: 0;
}

.p-content-container {
  margin: auto;
  max-width: 1100px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 5em;
  padding-left: 3em;
  padding-right: 3em;
}

.p-last-container {
  margin-bottom: 0em;
}

.p-content-container h1 {
  font-family: 'Rubik', sans-serif;
  padding-left: 1em;
  padding-right: 1em;
  font-weight: 400;
  font-size: 2.5em;
  text-align: center;
  color: #333;
}

.p-content-container h2 {
  font-family: 'Rubik', sans-serif;
  padding-left: 1em;
  padding-right: 1em;
  font-weight: 300;
  font-size: 1.5em;
  text-align: center;
  color: #777;
  margin-bottom: 2em;
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


.p-content-container p {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 1.15em;
  padding-left: 10px;
  padding-right: 10px;
  color: var(--text-color-dark);
}

.p-content-container a {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  color: var(--text-color-dark);
  text-decoration: none;
  align-self: baseline;
  margin-bottom: 0.5em;
  padding-left: 10px;
}

.p-hr {
  margin-top: 2em;
  background-color: var(--text-color-dark);
  width: 25%;
  height: 2px;
}

.p-content-container a:hover {
  color: var(--secondary-color);
}

.border {
  border-style: solid;
  border-radius: 1em;
  border-width: 0.01em;
  border-color: #333;
}



.background#home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-image: url('hero_2.png');
  background-size: cover;
  background-position: center;
  position: relative;
  padding-bottom: 1em;
}

.page#web_solutions {
  background-color: #fff;
  padding-bottom: 5%;
  padding-top: 2em;
}



.content-container {
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
  margin-top: 1em;
}

.content-container#home {

  margin-top: 90px;
}

.content-container#home h1 {
  font-size: 4em;
  font-family: 'Rubik', sans-serif;
  margin-bottom: 0.5em;
  color: #fff;
  font-weight: 600;
}

.content-container#home .p-light {
  font-family: 'Rubik', sans-serif;
  font-size: 2em;
  font-weight: 300;
  color: var(--text-color-light);
  margin-bottom: 1em;
}

.content-container .p-light {
  font-family: 'Rubik', sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: var(--text-color-light);
  margin-bottom: 1em;
}

.content-container .p-dark {
  font-family: 'Rubik', sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: var(--text-color-dark);
  margin-bottom: 1em;
}

.solutions-col h2 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  color: #fff;
  margin-bottom: 1em;
  margin-top: 1em;
  word-break: break-all;
}

.button-dark {
  border: 1px solid #333;
  color: #333;
}

.button-light {
  border: 1px solid #fff;
  color: #fff;
}

.content-container button {
  padding: 15px 25px;
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Rubik', sans-serif;
  font-size: 1em;
  font-weight: 300;
}

.disp-flex-row-hcentered-vcentered {
  display: flex;
  flex-direction: row;
  /* Jak mają być ułożone elementy w osi poprzecznej */
  /* Jeżeli flex-direction: row -> osią główną X, osią poprzeczną Y */
  align-items: center;

}

.padding-left-0-5em {
  padding-left: 0.5em;
}

.padding-left-1-0em {
  padding-left: 1em;
}

.padding-left-1-5em {
  padding-left: 1.5em;
}

.padding-left-2-0em {
  padding-left: 2em;
}

.padding-left-2-5em {
  padding-left: 2.5em;
}

.content-container .button-dark:hover {
  background-color: #333;
  color: #fff;
  transition: 250ms;
}

.content-container .button-light:hover {
  background-color: #fff;
  color: #333;
  transition: 250ms;
}


.solutions {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
}

.solutions-col {
  display: flex;
  flex-direction: column;
  margin: 1em;

}

.advert#home {
  display: flex;
  height: 0;
  align-items: center;
}

.content-container#advert {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;

  background-color: #ad4343;
  height: 75%;
}

.content-container#advert p {
  text-align: center;
  color: #333;
}

.content-container#cont1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35%;
  background-color: transparent;
  padding-top: 1em
}

.content-container#cont2 {
  display: flex;
  justify-content: center;
  align-items: top;

}

.content-container#cont2 :hover:not(.table1 *) {
  background-color: #f3f3f3;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);

}

.content-container#cont1 h1 {
  color: var(--text-color-dark);
  font-size: 2.5em;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  margin-bottom: 1em;
}

.content-container#cont3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 0;
}

.content-container#cont3 :hover:not(.table2, .table2 *, .table22 *) {
  background-color: #f3f3f3;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.content-container#cont3 :hover:not(.table2, .table2 *, .table22 *) .myicon {
  color: #2B70E4;
}

.content-container#cont4 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}



.content-container#cont5 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 35vh;
  width: 100%;
  background-image: url('map_2.png');
  background-size: cover;
  background-position: center;
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 0;
}



.content-container#cont6 {
  min-height: 35vh;
  height: 100%;
  width: 50%;
  margin-left: 50%;
  z-index: 1;
  background-color: #fff;
  display: block;
  margin-top: 0;

}

.contact_data {
  z-index: 1;
  background-color: #fff;
  margin: auto;
}

.contact_data h1 {
  margin-top: 2em;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  color: #333;
}

.contact_tab {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  padding-top: 2em;
  margin-bottom: 2em;
  margin-right: 3em;
  margin-left: 3em;
}

.contact_col {
  padding-left: 0;
  margin: 0;
  margin-bottom: 3em;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  height: 100%;
}

.contact_col h2 {
  text-align: left;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #333;
  padding-left: 0em;
}

.contact_col h3 {
  text-align: left;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 0.8em;
  color: #666;
  padding-left: 0em;
}

.content-container#cont1 h2 {
  text-align: left;
  color: #333;

  margin: 0;
  padding: 0;
}

.page#case_studies {
  background-color: var(--secondary-background-color);
  padding-top: 0;
}

.table1 {
  min-width: 30%;
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Rubik', sans-serif;
  text-align: left;
  background-color: #fff;
  margin: 0%;
  margin-left: 1em;
  margin-right: 1em;
  padding: 1em;
  border-radius: 1em;
  border-style: solid;
  border-width: 0.01em;
  border-radius: 1em;
  border-color: #333;
}

.table2 {
  width: 50%;
  display: block;
  flex-direction: column;
  justify-content: center;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  background-color: transparent;
  margin: 2em;
  padding: 2em;
}

.table22 {
  width: 50%;
  display: block;
  flex-direction: column;
  justify-content: center;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  background-color: transparent;
  margin-top: 3em;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 3em;
  padding: 2em;
  border-style: solid;
  border-width: 0.01em;
  border-radius: 1em;
  border-color: #333;
}

.table22 h2 {
  margin-top: 2em;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  color: #333;
}

.table22 p {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #333;
  margin-bottom: 2em;
  margin-top: 2em;
}

.table3#col1 {
  width: 100%;
  display: block;
  justify-content: center;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  background-color: transparent;
  margin: 0;
  padding: 3em;
}

.table3#col2 {
  width: 100%;
  display: block;
  justify-content: center;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  background-color: transparent;
  margin: 1%;
  padding: 0;
}

.table1#col1 Image {
  max-width: 75%;
  width: 300px;
}

.table1#col2 h1 {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 2em;
  color: #f3f3f3;
}

.table1 h2 {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  color: #333;
}

.table1 p {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 1em;
  margin-top: 2em;
  color: #333;
}

.table2 h2 {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  color: #333;
}

.table2 p {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #333;
  margin-top: 2em;
}

.table3 h2 {
  text-align: left;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  color: #333;
}

.table3 h3 {
  text-align: left;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #333;
}

.table3 p {
  text-align: left;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #bbb;
}

.p-form {
  background-color: #fff;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  border-radius: 1em;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  padding-bottom: 3em;
  margin-top: 5em;
}

.p-form__circle {
  background-color: #2B70E4;
  width: 5em;
  height: 5em;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: -2.5em;
  border-radius: 2.5em;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 2em;
}

.form {
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  border-radius: 1em;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  padding-bottom: 3em;
}


.p-content-container button {
  padding: 15px 25px;
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Rubik', sans-serif;
  font-size: 1em;
  font-weight: 300;
}

.p-content-container button:hover {
  color: var(--text-color-light);
  background-color: var(--text-color-dark);
}

.circle {
  background-color: #2B70E4;
  width: 5em;
  height: 5em;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: -2.5em;
  border-radius: 2.5em;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 2em;
}

.imageCol1 {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 1em;
}

.myicon :hover {
  color: #2B70E4;
  transition: color 0.3s;
}

/* Navbar ------------------------------------------------------------- */
/* nav {
  position: fixed;
  width: 100%;
  background: #1F2326;
  opacity: 1;
  color: #f3f3f3;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  transition: background-color 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
} */

/* nav:hover {
  opacity: 1;
} */

/* .navbar {
  display: flex;
  justify-content: space-between;
  width: 1200px;
} */

.burger-icon {
  cursor: pointer;
}

/* nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
}

nav li {
  margin: 0 15px;
} */

/* nav a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  font-size: small;
  transition: color 0.2s;
} */


#language {
  color: #f3f3f3;
  border-style: solid;
  border-color: #f3f3f3;
  border-radius: 1em;
  padding: 0.75em 1em 0.75em 1em;
  border-width: 1px;
}

#language:hover {
  color: #f3f3f3;
  border-style: solid;
  border-color: #2B70E4;
  border-radius: 1em;
  padding: 0.75em 1em 0.75em 1em;
  transition: color 0.3s;
  border-width: 1px;
}

/* nav a:hover {
  color: #2B70E4;
  text-decoration: none;
} */

footer {
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1em;
  font-weight: 300;
}

footer p {
  font-weight: 300;
}


.footer_logo {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  border-radius: 1em;
}

.footer_logo:hover {

  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.facebookLinkContainer {
  position: fixed;
  left: 1em;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  padding: 0;
  border: 1px solid #ccc;
  z-index: 1000;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.facebookLinkContainer a {
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 1em;
  border: 0px solid #ccc;
  z-index: 1000;
  border-radius: 1em;
  cursor: pointer;
}

.facebookLinkContainer a:hover {
  background-color: #2B70E4;
}


@media (min-width: 1200px) {
  .content-container {
    width: 80%;
    margin: 0 auto;
  }

  .burger-icon {
    display: none;
  }


}

@media (min-width: 768px) and (max-width: 1199px) {
  .p-content-container {
    padding-left: 5em;
    padding-right: 5em;

  }

  .content-container {
    width: 95%;
  }

  .burger-icon {
    display: none;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .table1 {
    max-width: 80%;
    margin-bottom: 2em;
  }

  .table2 {
    width: 100%;
    margin-bottom: 2em;
  }

  .table3 {
    width: 100%;
    margin-bottom: 2em;
    padding: 0;
    padding-bottom: 2em;
  }

  .content-container#cont4 {
    flex-direction: column-reverse;
  }

  .content-container#cont6 {
    padding: 0;
  }

  .table3 h2 {
    text-align: center;
  }

  .table3 h3 {
    text-align: center;
  }

  .table3 p {
    text-align: center;
  }

  .table3#col1 {
    width: 100%;
  }

  .form {
    width: auto;
  }

  .contact_tab {
    display: flex;
    flex-direction: column-reverse;
  }

  .page#contact {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    background-color: var(--secondary-background-color);
    height: 110vh;
    width: 100%;
    padding: 0;
    margin: 0;
    padding-top: 0%;
  }

  .content-container#cont5 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20em;
    width: 100%;
    border-radius: 2em 2em 0em 0em;
    background-image: url('map_1.png');
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 0;
    padding: 0;
    z-index: 0;
  }

  .content-container#cont6 {
    height: auto;
    width: 75%;
    margin: 0;
    /* transform: translateY(20em); */
    margin-top: 20em;
    border-radius: 2em;
    z-index: 1;
    background-color: #f3f3f3;
    display: block;
    min-height: 10vh;
  }

  .contact_data {
    border-radius: 1em;
    z-index: 1;
    background-color: #fff;
    margin: auto;
    padding: 2em;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  }

  .contact_data h1 {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    color: #333;
  }

  .contact_tab {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    padding-top: 2em;
  }

  .contact_col {
    padding-left: 3em;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    height: 100%;

    align-items: left;
    padding: 0;
    margin-bottom: 2em;
  }

  .contact_col h2 {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #333;
    padding-left: 2em;
    text-align: center;
    width: 100%;
    padding: 0;
    padding-bottom: 0.5em;
  }

  .contact_col h3 {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 0.8em;
    color: #666;
    padding-left: 2em;

    padding: 0;
  }

  .table22 {
    width: 80%;
    margin: 0;
    margin-bottom: 2em;
  }

}



@media (max-width: 767px) {


  .p-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .p-content-container {
    padding-left: 0;
    padding-right: 0;
  }

  .p-column:hover {
    background-color: transparent;
    border-radius: 0;
  }

  .p-column:hover .p-icon {
    color: #333;
    border-radius: 0;
  }

  .p-content-container a {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    color: var(--text-color-dark);
    text-decoration: none;
    align-self: center;
    margin-bottom: 0.5em;
    margin-top: 1em;
  }

  .width-20 {
    width: 100%;
  }

  .width-80 {
    width: 100%;
  }


  .content-container {
    width: 95%;
  }

  #language {
    color: #f3f3f3;
    border-style: solid;
    border-color: #f3f3f3;
    border-radius: 1em;
    padding: 0.5em 2em 0.5em 2em;
    border-width: 1px;
  }

  #language:hover {
    color: #f3f3f3;
    border-style: solid;
    border-color: #2B70E4;
    border-radius: 1em;
    padding: 0.5em 2em 0.5em 2em;
    border-width: 1px;
  }

  .burger-icon {
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 1001;
  }

  nav {
    position: fixed;
    width: 100%;
    color: white;
    z-index: 1000;
    display: flex;
    justify-content: center;
    /* Wyśrodkowanie */
    align-items: center;
    /* Wyśrodkowanie */
    transition: all 0.3s ease;
  }

  /* nav ul {
    display: none;
    list-style: none;
    width: 100%;
    text-align: center;
  } */

  .nav-active {
    display: block;
    background: rgba(51, 51, 51, 0.8);
    margin-bottom: 2em;
  }

  .nav-active li {
    padding: 0.5em;
  }

  .navbar_logo {
    transition: opacity 0.3s ease;
  }

  .hide-logo {
    opacity: 0;
    /* Ukrywanie logo */
  }

  nav a {
    text-decoration: none;
    color: #f3f3f3;
    font-weight: 300;
    font-size: 1em;
    transition: color 0.3s;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .table1 {
    max-width: 80%;
    margin-bottom: 2em;
  }

  .table2 {
    width: 100%;
    margin-bottom: 2em;
  }

  .table3 {
    width: 100%;
    margin-bottom: 2em;
    padding: 0;
    padding-bottom: 2em;
  }

  .content-container#cont4 {
    flex-direction: column-reverse;
  }

  .content-container#cont6 {
    padding: 0;
  }

  .table3 h2 {
    text-align: center;
  }

  .table3 h3 {
    text-align: center;
  }

  .table3 p {
    text-align: center;
  }

  .table3#col1 {
    width: 100%;
  }

  .form {
    width: auto;
  }

  .contact_tab {
    display: flex;
    flex-direction: column-reverse;
  }

  .page#contact {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    background-color: var(--secondary-background-color);
    height: 110vh;
    width: 100%;
    padding: 0;
    margin: 0;
    padding-top: 0%;
  }

  .content-container#cont5 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20em;
    width: 100%;
    border-radius: 2em 2em 0em 0em;
    background-image: url('map_1.png');
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 0;
    padding: 0;
    z-index: 0;
  }

  .content-container#cont6 {
    height: auto;
    width: 75%;
    margin: 0;
    margin-top: 20em;
    border-radius: 2em;
    z-index: 1;
    background-color: #f3f3f3;
    display: block;
    min-height: 50vh;
  }

  .contact_data {
    border-radius: 1em;
    z-index: 1;
    background-color: #fff;
    margin: auto;
    padding: 2em;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  }

  .contact_data h1 {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    color: #333;
  }

  .contact_tab {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    padding-top: 2em;
  }

  .contact_col {
    padding-left: 3em;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    height: 100%;

    align-items: left;
    padding: 0;
    margin-bottom: 2em;
  }

  .contact_col h2 {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #333;
    padding-left: 2em;
    text-align: center;
    width: 100%;
    padding: 0;
    padding-bottom: 0.5em;
  }

  .contact_col h3 {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 0.8em;
    color: #666;
    padding-left: 2em;

    padding: 0;
  }

  .table22 {
    width: 100%;
    margin: 0;
    margin-bottom: 2em;
  }

  .solutions-col h2 {
    font-size: 1em;
  }

}