.app-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.app-content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    /* background: var(--app-white); */
    border-radius: 10px;
    width: 100%;
    margin: 20px auto;
    margin-top: 80px;
    /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); */
}

.custom-sidebar {
    width: 250px;
    background: var(--app-light-grey);
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.custom-sidebar h2 {
    margin-top: 0;
}

.custom-sidebar-links a {
    display: block;
    margin: 15px 0;
    text-decoration: none;
    color: var(--app-dark-grey);
    font-size: 1em;
}

.user-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.user-panel span {
    margin-bottom: 10px;
    font-size: 1em;
}

.user-panel button {
    padding: 5px 10px;
    background-color: var(--app-secondary-color);
    color: var(--app-white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.user-panel button:hover {
    background-color: var(--app-dark-grey);
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: var(--app-white);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    margin-left: 20px;
    /* Gap between sidebar and main content */
}



/* Stylizacja dla ekranów o szerokości poniżej 768px */
@media (max-width: 768px) {

    /* Przycisk otwierania sidebar-a */
    .sidebar-toggle-button {
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 50px;
        /* Dodaj szerokość */
        height: 50px;
        /* Dodaj wysokość */
        background-color: var(--app-primary-color);
        color: var(--app-white);
        border: none;
        border-radius: 50%;
        /* Zmiana na kształt kółka */
        padding: 0;
        font-size: 1.5em;
        cursor: pointer;
        z-index: 9999;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        /* Ustawienie ikony na środku */
    }

    .main-content {
        flex-grow: 1;
        /* padding: 20px; */
        display: flex;
        flex-direction: column;
        /* gap: 20px; */
        background: var(--app-white);
        border-radius: 10px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        margin-left: 0px;
    }

    .button-navbar-menu {
        display: block;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: 50ms;
        display: flex;
        position: fixed;
        right: 1em;
        top: 1em;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        z-index: 1001;
        width: 20px;
    }

    .navbar-links.show {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--primary-color);
        width: 100vw;
        height: -moz-fit-content;
        height: fit-content;
        color: var(--text-color-light);
        padding-top: 1em;
        padding-bottom: 100vh;
        margin-top: -50px;
        margin-left: 0;
    }

    .facebookLinkContainer {
        display: none;
    }
}