.hero-section {
    padding-top: 5em;
    min-height: 70vh !important;
    display: flex;
    align-items: center;
}

.content-container {
    margin: auto;
    max-width: 1200px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.text-column {
    width: 50%;
    text-align: left;
}

.image-column {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    max-width: 100%;
    height: auto;
    border-radius: 1em;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.image-column {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.features-list {
    list-style-type: none;
    padding: 5px;
    margin-bottom: 1em;
}

.features-list li {
    margin-top: 10px;
}

.info-section {
    padding-top: 5em;
    padding-bottom: 5em;
    background-color: #f8f9fa;
    width: 100%;
    margin-bottom: 64px;
}

.full-width-column {
    width: 100%;
    text-align: left;
}

.info-list {
    list-style-type: none;
    padding: 0;
}

.info-list li {
    font-size: 1.0em;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    color: #333;
}

.fa-icon {
    margin-right: 0.5em;
    color: #007bff;
}

.text-column h2,
.full-width-column h2 {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    color: #bbb;
}

.text-column h1,
.full-width-column h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 32px;
}

#info-section .text-column h1,
.full-width-column h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 32px;
    margin-top: 32px;
}

.text-column p,
.full-width-column p {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #333;
}

.button-dark {
    font-family: 'Rubik', sans-serif;
    background-color: #333;
    color: #fff;
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 0.3em;
}

.button-dark:hover {
    background-color: #555;
    border-color: #333;
}

.content-container button {
    padding: 15px 25px;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
    font-size: 1em;
    font-weight: 300;
    border-width: 2px;
    border-color: #ff7900;
    color: #333;
}

@media (max-width: 767px) {

    .text-column,
    .image-column {
        width: 100%;
    }

    .content-container {
        flex-direction: column;
    }

    .info-section {
        text-align: center;
    }

    .full-width-column {
        text-align: center;
    }

    .info-list li {
        justify-content: center;
    }
}