/* styles-page.css */

:root {
    --primary-color: #1F2326;
    --secondary-color: #2B70E4;

    --text-color-dark: #333;
    --text-color-light: #fff;
    --background-color: #fff;
    --secondary-background-color: #fcfcfc;
    --hover-color-light: #f3f3f3;
    --font-primary: 'Source Sans Pro', sans-serif;
    --font-secondary: 'Source Sans Pro', sans-serif;
    --font-family--albert-sans: "Albert Sans", sans-serif;
    --font-code: 'Source Code Pro', monospace;
    --base-spacing: 8px;
}

body {
    font-family: var(--font-primary);
    background-color: var(--secondary-background-color);
    color: var(--text-color-dark);
}

.content-container {
    margin: auto;
    padding: 130px 20px 60px;
    max-width: 1200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-list-page h1 {
    font-size: 2.5em;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.article-list-page h2 {
    font-size: 1.75em;
    color: var(--text-color-dark);
    margin-bottom: 20px;
}

.intro-text {
    font-size: 1.2em;
    color: var(--text-color-dark);
    margin-bottom: 30px;
    line-height: 1.6;
}

.category-filter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 30px;
}

.category-button {
    background: var(--secondary-background-color);
    color: var(--text-color-dark);
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 1em;
}

.category-button:hover {
    background: var(--text-color-dark);
    color: var(--text-color-light);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.category-button.active {
    background: var(--secondary-color);
    color: var(--text-color-light);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.article-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.article-item {
    background: var(--background-color);
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    width: calc(33.333% - 20px);
    min-width: 300px;
    text-align: left;
    position: relative;
}

.article-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.article-item a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.article-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.2s;
}

.article-item:hover .article-image {
    transform: scale(1.05);
}

.article-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.article-category {
    display: inline-block;
    color: var(--text-color-light);
    font-size: 0.75em;
    padding: 5px 10px;
    border-radius: 12px;
    margin-bottom: 10px;
    white-space: nowrap;
    width: auto;
    /* Ensure the width is based on content */
}

.article-category.data-science {
    background-color: #ff5722;
    /* Vibrant color for Data Science */
}

.article-category.python {
    background-color: #4caf50;
    /* Vibrant color for Python */
}

.article-category.inżynieria {
    background-color: #2196f3;
    /* Vibrant color for Engineering */
}

.article-content h2 {
    font-size: 1.5em;
    margin: 0;
    color: var(--primary-color);
}

.article-date {
    font-size: 0.9em;
    color: var(--text-color-dark);
    margin: 10px 0;
}

.article-content p {
    font-size: 1em;
    color: var(--text-color-dark);
    flex-grow: 1;
}

.read-more {
    color: var(--secondary-color);
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

.hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.show {
    opacity: 1;
    transform: translateY(0);
}