.code-block {
    position: relative;
    cursor: pointer;
    margin-bottom: 2em;
}

.code-block pre {
    margin: 0;
    background-color: var(--secondary-background-color);
    padding: 1em;
    border-radius: 10px;
    overflow-x: auto;
}

.copy-hint {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    display: none;
}

.code-block:hover .copy-hint {
    display: block;
}