.admin {
    color: black;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: row;
    font-family: 'Space_Mono', monospace;
    font-weight: 400;
    font-size: 1em;
    height: 100vh;
    /* Dodaj tutaj więcej stylów konsolowych */
  }
  
  .admin-navbar {
    padding: 1em;
    background-color: black;
    color: #f3f3f3;
    width: 25vh;
    height: 100vh;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow-x: hidden;
    /* Tutaj style dla paska nawigacyjnego */
  }
  .admin-page{
    padding: 1em;
  }
  