.article-cover-container {
    position: relative;
    width: 100%;
    max-height: 450px;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-cover {
    width: 100%;
    height: auto;
    transition: all 0.3s ease-in-out;
}

.katex-display {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.katex-display::after {
    content: attr(data-number);
    margin-left: 10px;
    color: #888;
    font-size: 0.9em;
}



.article-cover-container:hover .article-cover {
    filter: brightness(50%);
}

.cover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5em;
    font-family: var(--font-primary);
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.article-cover-container:hover .cover-text {
    opacity: 1;
}

.page#how-it-works {
    padding-top: 5em;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: var(--background-color);
    color: var(--text-color-dark);
}

.code-block {
    position: relative;
    cursor: pointer;
}

.code-block pre {
    margin: 0;
}

.copy-hint {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    display: none;
}

.code-block:hover .copy-hint {
    display: block;
}

.content-container {
    display: flex;
    max-width: 1280px;
    width: 100%;
    margin: auto;
    padding: 2em;
    background-color: var(--background-color);
    border-radius: 10px;
}

.toc {
    position: sticky;
    top: 7em;
    align-self: flex-start;
    margin-right: 2em;
    background-color: var(--background-color);
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 20%;
}

.toc h2 {
    font-family: var(--font-primary);
    font-size: 1.5em;
    color: #333;
    margin-bottom: 1em;
    text-align: left;
}

.toc ul {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
}

.toc ul li {
    margin: 0.5em 0;
}

.toc ul li a {
    font-family: var(--font-secondary);
    font-size: 1.2em;
    color: var(--text-color-dark);
    text-decoration: none;
    transition: color 0.3s, width 0.3s;
}

.toc ul li a:hover {
    color: var(--secondary-color);
    cursor: pointer;
}

.toc ul li a.active {
    color: var(--text-color-dark);
    cursor: pointer;
}

.toc ul li a.active::after,
.toc ul li a:hover::after {
    width: 100%;
}

.toc ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--secondary-color);
    transition: width 0.3s;
}

.article {
    flex-grow: 1;
    padding: 2em;
    text-align: left;
    line-height: 1.8;
    background-color: var(--background-color);
    border-radius: 10px;
    background-color: var(--background-color);
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.article-header {
    display: block;
    margin-bottom: 2em;
}

.article-header .date {
    font-family: var(--font-secondary);
    font-size: 1.2em;
    color: var(--text-color-dark);
    margin-bottom: 0.5em;
}

.article-header .title {
    font-family: var(--font-primary);
    font-size: 2.5em;
    color: var(--primary-color);
}

.article h2 {
    font-family: var(--font-primary);
    font-size: 2em;
    color: var(--primary-color);
    margin-bottom: 0.5em;
    text-align: left;
}

.article p {
    font-family: var(--font-secondary);
    font-size: 1.2em;
    color: var(--text-color-dark);
    margin-bottom: 1em;
    text-align: left;
}

pre {
    background-color: var(--secondary-background-color);
    padding: 1em;
    border-radius: 10px;
    overflow-x: auto;
}

code {
    font-family: 'Source Code Pro', monospace;
    font-size: 1em;
}

@media (max-width: 1200px) {
    .toc {
        display: none;
    }

    .article {
        width: 100%;
    }
}