.navbar {
    background-color: #f8f9fa;
    border-bottom: 1px solid #e7e7e7;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* W zależności od projektu, możesz dodać media queries dla responsywności */
  